<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
				integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	{% block head %}
	{% endblock %}

	<title>{% block title %} WeBoot {% endblock %}</title>
</head>

<body>
	<nav class="navbar navbar-dark sticky-top p-0" style="background-color: #2280af; height: 7vh !important;">
		<div class="container-fluid">
			<span class="navbar-brand">

				<img src="{{ url_for('static', filename='icon.png') }}" alt="" height="24" class="d-inline-block">
				WeBot
			</span>

			<span class="navbar-text" style="position: absolute; left: 50%;transform: translateX(-50%); ">
				{% block navtext %}
				{% endblock %}
			</span>
		</div>
	</nav>

	{% block body %}
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
	{% endblock %}
</body>

</html>
