{% extends "base.html" %}

{% block navtext %} Chat: {{ chat['chat_name'] }} {% endblock %}
{% block title %} Chat: {{ chat['chat_name'] }} {% endblock %}

{% block content %}
<div id="cards">
  {% for msg in chat['messages'][::-1] %}
  <div class="card">
    <div class="card-header">{{ msg['message_sender'] }}</div>
    <div class="card-body">
      <div class="card-text">{{ msg['message_text'] }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block head %}
<style>
  body>.container {
    padding-top: 1rem;
  }

  #cards {
    height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .card {
    margin-top: 5px;
    margin-bottom: 5px;
  }
</style>
{%endblock%}
